
<script src="/tusooajs/language-switcher.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
  (function() {
    const loadLangSwitch = () => {
      //Tusooa.LanguageSwitcher.displayedLangs = ["en"];
      const langs = Cookies.getJSON("ts-langs");
      if (Array.isArray(langs)) {
        Tusooa.LanguageSwitcher.displayedLangs = langs;
      }
      Tusooa.LanguageSwitcher.create(
        "ts-lang-switch",
        displayedLangs => {
          Cookies.set("ts-langs", displayedLangs);
        });
    };
  if (document.readyState === "complete" || document.readyState === "loaded") {
    loadLangSwitch();
  } else {
    document.addEventListener('DOMContentLoaded', function() {
      loadLangSwitch();
  })
  }
  })();
</script>
