  <!-- Use tags to replace categories -->
  {%- if post.tags and post.tags.length and theme.post_meta.tags %}
    <span class="post-meta-item">
      {%- for cat in post.tags.toArray() %}
        <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
          <a href="{{ url_for(cat.path) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a>
        </span>

        {%- set cat_length = post.tags.length %}
        {%- if cat_length > 1 and loop.index !== cat_length %}
          {{ __('symbol.comma') }}
        {%- endif %}
      {%- endfor %}
    </span>
  {%- endif %}
