
.logo-line {
  display: none;
}

.ts-langs::before {
}

.ts-langs:not(.ts-langs-show) {
  display: none;
}

.ts-langs-show ~ .ts-langs-show::before {
  content: '|';
  margin-left: 0.2em;
  margin-right: 0.2em;
}

// Make the multiple languages show line by line
.posts-collapse .post-content .collection-header {
  display: flex;
}
.ts-langs-show.ts-langs-block ~ .ts-langs-show.ts-langs-block::before {
  content: '';
  display: block;
}
.post-title-link .ts-langs-group {
  display: inline-flex;
  flex-direction: column;
}

.ts-langswitch-enabled {
  font-weight: bold;
  color: #ccc;
}

.ts-langswitch-disabled {
  text-decoration: line-through;
  color: #777;
}
